/* CSS Document */

body #regform 
{
  border-radius:3px;
  background:transparent;
  box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.7);
  opacity: 1;
  top: 20px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
  -webkit-transition-property: -webkit-transform,opacity,box-shadow,top,left;
          transition-property: transform,opacity,box-shadow,top,left;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform-origin: 161px 100%;
      -ms-transform-origin: 161px 100%;
          transform-origin: 161px 100%;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  position: relative;
  width: 350px;
  /*border-top: 2px solid #D8312A;*/
  height: 380px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 40px 40px 40px 40px;
  /*以下为颜色渐变*/
  background: #E2E7F8;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(10%, #E2E7F8), color-stop(90%, rgb(0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(230deg, rgba(53, 57, 74, 0) 0%, rgb(0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(230deg, rgba(53, 57, 74, 0) 0%, rgb(0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(53, 57, 74, 0)', endColorstr='rgb(0, 0, 0)',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
.minput{
	font-size:15px;
	color:#D7CBF3;
	width:150px;
	margin-top:5px;
	background:transparent;
	border-weight:1px;
	border-radius:3px;
	border-top-width:0;
	border-left-width:0;
	border-right-width:0;
}
.minput:focus{
	border-color:#D7CBF3;
	outline:none;
}
body{
	-webkit-perspective: 800px;
          perspective: 800px;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Gudea', sans-serif;
  background: #87E0CC;
  /* Old browsers */
  /* FF3.6+ */
 
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EA5C54 ', endColorstr='#bb6dec',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

::-webkit-input-placeholder { 
/* WebKit browsers */            
	color:    white;        
}        
:-moz-placeholder { 
/* Mozilla Firefox 4 to 18 */            
	color:    white;        
}        
::-moz-placeholder { 
/* Mozilla Firefox 19+ */            
	color:    white;        
}       
:-ms-input-placeholder { 
 /* Internet Explorer 10+ */            
 	color:    white;        
}
#welcome{
	text-align:center;
	font-size:28px;
	color:#D7CBF3;
}
#register{
	width:265px;
	margin-top:50px;
	line-height:10px;
	height:30px;
	font-size:20px;
	border-radius:15px;
	background-color:#E2F7F8;
	color:#6F2430;
	text-shadow:1px 1px 0px #6F2430;
	margin-left:35px;
}
#register:hover{
	background:#AADAEA;
	text-shadow:1px 1px 0px #000;
	color:#000;
}
#table{
	color:#fff;
	font-size:18px;
}
.true{
	color:#3F0;
	font-size:14px;
}
.false{
	color:#F03;
	font-size:14px;
}