
/*消息滚动*/
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.roll {
  overflow: hidden;
  height: 215px;
  position: relative;
  letter-spacing: 1px;
  top: -8px;
  left: 0;
}
.roll ul {
  position: relative;
}
.roll li {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  text-align: center;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all 2s;
  padding: 12px 45px 12px 35px;
  font-size: 18px;
  list-style: none;
}
.roll li a {
  position: relative;
  color: #fff;
  padding-right: center;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
}
.roll li.roll_1 {
  opacity: 0.8;
  top: -15px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.roll li.roll_2 {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
  top: 25px;
  height: 45px;
}
.roll li.roll_3 {
  opacity: 0.8;
  top: 60px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.roll li.roll_hide {
  opacity: 0;
  top: 70px;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -o-transform: scale(0.4);
  transform: scale(0.4);
}

.news-scroll {
  	height: 130px;
  	width: 86%;
	position: relative;
	left: 12.5%;
	background-color: #F7FAFD;
	margin-top: 7px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.news-scroll .scroll-box {
  width: 100%;
  height: 125px;
  padding: 20px 0;
  margin: 0 auto;
  background-color: #67a0fe;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
